* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
    font-size:18px;
  font-style: normal;
  color: #2b2b2d;
  background: #fff;
border-top:4px solid #2b2b2d;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

.highlight{color:#2a84ff;}

h3, h2{text-transform:uppercase;
    letter-spacing: 0.05em;
    font-size:17px;}

h3{text-align: center;}
p{margin-bottom: 20px;}

a {
  text-decoration: none;
}

button {
    border: none;
    background: url('images/right-arrow.svg') right 16px center no-repeat #2b2b2d;
    background-size: 25px 12px;
    color: #fff;
    padding: 12px 52px 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform:uppercase;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    }

button a{color:#fff;}

button:hover{background: #555;}



.blue-pattern{background:url('images/bg-pattern.jpg') #2a84ff right;}
.white{background: #fff;}
.grey{background: #e6e7e8;}
.blue{background: #2a84ff;}
.black{background: #2b2b2d;}

section{width:100%;}
.wrapper{width:80%;margin:0 auto;padding:50px 0;}

/* ----------------------------------------*/

header{margin-bottom: 70px;}
a.contact {
    color:#2b2b2d;
    text-decoration: none;
    border-bottom:2px solid #2b2b2d;
    text-transform:uppercase;
    letter-spacing: 0.05rem;
    font-size:16px;}

a.contact:hover{color: #fff;
    border-bottom:2px solid #fff;}
.logo {float:right;width:200px;}

/* ----------------------------------------*/

.hero{display: flex; flex-wrap: wrap;}
.hero h1{
    align-self: center; 
    width:40%; 
    margin-right: 10%; 
    font-size:40px;}
.hero h1 span{font-size:18px; color:#fff;}
.hero-image{width:50%;}
.hero img{
    z-index: 1000; 
    width:100%;
    height: auto; 
    margin-bottom: -100px;}

/* ----------------------------------------*/

.intro{margin-top: 50px;}
.intro p{text-align: left; 
    font-size: 2.2rem;
    line-height: 3.3rem;}
.intro a{color: inherit;border-bottom:2px solid #2b2b2d;}
.intro {text-align: center;}
.intro button{margin-top: 30px;}

/* ----------------------------------------*/

.credential-icons{ 
    display: flex;
    text-align: center;
    justify-content:center;
    flex-wrap: wrap;}

.credential-icons li{
    color: #fff; 
    display: flex;  
    flex-direction: column; 
    list-style: none;
    width:18%; 
    margin: 0 3%;}

.credential-icons li img{margin-bottom: 20px;}


/* ----------------------------------------*/

.clients{ 
    margin-top:30px;
    display: flex;
    text-align: center;justify-content: center;align-items: center;}

.clients li{list-style: none;max-width:250px; width:25%;}
.clients li img{width:80%; margin: auto;}

/* ----------------------------------------*/

.wrapper.wrapper-split {
    background: linear-gradient(#e6e7e8, #e6e7e8) no-repeat center/2px 100%;}

.bio {width:40%;float:left;text-align: center;}
.bio-right {float:right;}

.bio img
    { clip-path: circle();
    width:80%;}

.bio p, .credential li{text-align: left;}

.bio h2 {color:#2a84ff;margin: 20px 0; }
.credential li{list-style: none;margin-bottom:10px;}


/* ----------------------------------------*/

.project{
    background: #fff;
    width:100%;
    padding:30px;
    box-sizing:border-box;
    margin-top: 30px;}

.project h2{
    font-size:20px;
    color:#2a84ff;
    text-align:left;
    margin-bottom: 20px;}

.project img{float:left;width:50%;}

.project .project-text{
    float:right;
    width:50%;
    padding-left:30px;
    box-sizing: border-box;}

.project-detail{
    border-top:1px solid #d0d2d3; 
    border-bottom:1px solid #d0d2d3;
    padding:10px 0;margin:30px 0;}

/* ----------------------------------------*/

.quote{width:80%;margin: auto;font-size:30px;}

.quote span{
    margin-top:20px;
    color:#fff; 
    text-transform: uppercase; 
    letter-spacing:0.1em; 
    display: block;
    font-size:16px;}

/* ----------------------------------------*/

.footer {padding-bottom:80px;}
.footer h3{text-align: left;color:#2a84ff;margin-bottom: 20px;}
.footer p{color:#e6e7e8;margin-bottom: 0;}
.footer a{color:#e6e7e8;text-decoration: none;}
.footer a:hover{color: #2a84ff;}
.copyright{font-size:13px;margin-top:10px;}


#backToTop {
    position: fixed;
    background-image: none;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    background-color: #333;
    color: #2a84ff;
    border: none;
    width:50px;
    height:50px;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    border-radius: 50%;
    transition: opacity 0.5s ease;}

#backToTop.show {
  opacity: 0.8;
  pointer-events: auto;}

#backToTop:hover {
  background-color: #555;}

